@font-face {
    font-family: 'mainFont';
    src: url(./assets/fonts/PlusJakartaSans-VariableFont_wght.ttf) format('truetype');
    font-style: normal;
    font-weight:500 700;
}
:root{
    --font-family:'mainFont';
    --paragraph-font-size:16px;
    --body-background-color:#e3f4fc;
    --left-card-background-color:hsl(0, 0%, 100%);
    --right-card-background-color:#133040;
    --left-heading-color:#102631;
    --right-heading-color:#fcffff;
    --label-color:#6f8289;
    --paragraph-color:#8aa6bb;
    --active-border-color:#c6cd8a;
    --radio-color:#dcdf30;
    --radio-background:#fafae0;
    --button-color:#d2da2c;
    --input-text-color:#0f212b;
}
*,*::after,*::before{
    box-sizing: border-box;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/*=====================styling===================*/
body{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--body-background-color);
    padding: 25vh 12vw;
    font-family: 'mainFont';
    font-size: var(--paragraph-font-size);
    color: var(--label-color);
    user-select: var(--button-color);
}
.container{
    display: flex;
    border-radius:1rem;  
    max-width: 750px;
    
    margin-bottom: 2rem;
}
.left,.right{
    width:50%;
    padding: 2rem;
}
.right{
    background-color: var(--right-card-background-color);
    border-bottom-right-radius:1rem ;
    border-top-right-radius:1rem ;
    border-bottom-left-radius:4rem ;
}
.left{
    background-color: var(--left-card-background-color);
    border-bottom-left-radius:1rem ;
    border-top-left-radius:1rem ; 
    display: flex;
    flex-direction: column;
    gap: 1.5rem; 
}
.container::after{
    content: '';
    background-color: white;
    position: absolute;
    width: 40%;
    height: 8rem;
    transform: translateY(19.2rem);
    z-index: -1;

    
}
form,fieldset,.item-container{
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}
fieldset,.item-container{
    gap: 0.5rem;
}
.title,.item,.linear{
    display: flex;
    flex-direction: row;
}
.title{
    justify-content: space-between;
    align-items: center;
}
.title h1{
    color: var(--left-heading-color);
    font-size: 1.1rem;
    font-weight: 700;
}
.title span{
    font-size: 11px;
    text-decoration: underline;
}
label{
    color: var(--label-color);
    font-size: 12px;
    font-weight: 200;
}
input[type='number'],input[type='number']:active,input[type='number']:focus-visible{
    border:0;
    height: 80%;
    outline: 0;
    color: var(--input-text-color);
    font-family: var(--font-family);
    font-size: var(--paragraph-font-size);
    overflow: hidden;
    flex: 10;
    padding-inline: 1rem;
    font-weight: 700;
}
.item{
    height: 2.3rem;
    border: 1px solid var(--label-color);
    align-items: center;
    border-radius: 3px;

}
.item-container{
    width: 30%;
}
.item-container input{
    flex:8;
}
.item-container .symbol{
    flex: 3;
    padding-inline: 5px;
    
}
.item-container label{
    font-size: 14px;
}
.symbol{
    height: 100%;
    display: flex;
    align-items: center;
    background-color: var(--body-background-color);
    flex: 1.5;
    justify-content: center;
    
}
.linear{
    justify-content: space-between;
    gap: 0.5rem;
}
.item-container{
    flex: 1;
    
}
.mrg-type{
    height: 2.3rem;
    border: 1px solid var(--label-color);
    border-radius: 3px;
    display: flex;
    align-items: center;
    color: var(--left-heading-color);
    font-weight: 700;
    gap: 5px;
    font-size: 13px;
}
#submit-button{
    border: 0;
    font-family: 'mainFont';
    font-weight: 700;
    background-color: var(--button-color);
    color: var(--left-heading-color);
    height: 2.3rem;
    max-width: 80%;
    border-radius: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-inline: 0.5rem;

}
.results-empty{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.7rem;
}

.results-empty p{
    color: var(--paragraph-color);
    text-align: center;
    font-size: 12px;
    line-height: 1.5;
}
.results-empty h2,.results h2{
    color:  var(--body-background-color);
    font-weight: 700;
}
input{
    accent-color: var(--radio-color);
}
.results{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.results p{
    color: var(--paragraph-color);
    font-size: 12px;
    line-height: 1.5;
}
.result-card{
    display: flex;
    flex-direction: column;
    margin-top: 1rem;
    border-top: 3px solid var(--radio-color);
    border-radius: 5px;
    gap: 1rem;
    padding-top: 2rem;
    background-color: #0f212b;
    padding: 1.5rem;
}
.class{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}
.mouthly-result{
    color: var(--button-color);
    font-size: 2.5rem;
    font-weight: 700;
}
.total{
    color: var(--body-background-color);
    font-size: 18px;
    font-weight: 700;
}
hr{
    width: 100%;
    color: var(--radio-background);
    height: 1px;
}
.item:hover,.mrg-type:hover{
    border: 1px solid var(--button-color);
}
.item:hover span{
    background-color: var(--button-color);
    color: var(--left-heading-color);
}
/*===============media querys===============*/
@media screen and (max-width:670px) {
    body{
        padding: unset;
        display: unset;
    }
    .container{
        flex-direction: column;
    }
    .left,.right,.item-container{
        width: unset;
    }
    .title, .item, .linear {
        display: flex;
        flex-direction: column;
    }
    .item{
        flex-direction: row;
    }
    .title{
        align-items: unset;
        gap: 0.5rem;
    }
    .right{
        border-radius: 0;
    }
    #submit-button{
        align-self: center;
        width: 100%;
    }
}
.hidden{
    display: none;
}
.show{
    display: unset;
}
.error{
    color: red;
    font-size: 10px;
}
#clear:hover{
    cursor: pointer;
}
#submit-button:hover{
    background-color: #dcdf305b;
}
.error-background{
    background-color: red;
    color: white;
}


